body{
    font-family: initial;
    position: -ms-page;
    background: cornflowerblue;
}
h1{
    position: relative;
}
p{
    background:bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    padding:10px;
}